<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let zapatilla of zapatillas" [ngClass]="{'oferta': zapatilla.oferta}">
            <td><img [src]="zapatilla.imagen" [alt]="zapatilla.marca"></td>
            <td>{{zapatilla.marca}}</td>
            <td>{{zapatilla.modelo}} </td>
            <td>{{zapatilla.precio}}</td>
            <td><span class="badge badge-pill badge-danger" *ngIf = "zapatilla.stock == 0">Sin stock</span></td>
        </tr>
    </tbody>
</table>