<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="zapatillas.imagen" [alt]="zapatillas.marca"></td>
            <td>{{zapatillas.marca}}</td>
            <td>{{zapatillas.modelo}} </td>
            <td>{{zapatillas.precio}}</td>
            <td>{{zapatillas.stock}}</td>
        </tr>
        <tr>
            <td>Adidas</td>
            <td>Air Max</td>
            <td>7100</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Reebook</td>
            <td>Sport x</td>
            <td>5500</td>
            <td>32</td>
        </tr>
    </tbody>
</table>