<h3>Listado de Zapatillas</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let zapatilla of zapatillas" [ngClass]="{'oferta': zapatilla.oferta}">
            <td><img width="40%" class="img-thumbnail" [src]="zapatilla.imagen" [alt]="zapatilla.marca"></td>
            <td>{{zapatilla.marca}}</td>
            <td>{{zapatilla.modelo}} </td>
            <td>{{zapatilla.precio | currency}}</td>
            <td><span class="badge badge-pill badge-danger" *ngIf = "zapatilla.stock == 0">Sin stock</span></td>
            <td>
               <app-input-integer [zapatilla]="zapatilla" *ngIf="zapatilla.stock"></app-input-integer>
            </td>
        </tr>
    </tbody>
</table>